## Travaux pratiques n1

### Exercice 1: Calcul Scientifique avec numpy

In [2]:
import numpy as np

In [4]:
sales = np.array([
  [100, 200, 150],
  [250, 300, 200],
  [175, 225, 275],
  [300, 250, 225]
])

1. Moyenne globale des ventes

In [47]:
moy_glob = np.mean(sales)
moy_glob

220.83333333333334

2. Somme des ventes pour chaque produit, en exculant le mois de Janvier

In [48]:
s_v1 = np.sum(sales[1:], axis=0)

3. Somme des ventes pour chaque produit pour les mois ou les vents ont été supérieurs à la moyenne globale.

In [7]:
np.where(sales<moy_glob, 0, sales).sum(axis=0)

array([550, 775, 500])

4. Créer un tableau de booléan indiquant si chaque vente est supérieur ou égale à 200

In [8]:
sales_bool = np.where(sales >= 200, True, False)
sales 
sales_bool

array([[False,  True, False],
       [ True,  True,  True],
       [False,  True,  True],
       [ True,  True,  True]])

5. Afficher la position du plus grand élément des 'sales' sous forme d'un tuple (ligne, colonne)

In [1]:
# TODO
res = (int(np.argmax(sales)+1) // len(sales), int(np.argmax(sales)+1) % len(sales))
np.unravel_index(np.argmax(sales), sales.shape)

NameError: name 'np' is not defined

## Exercice 2 - Exploration des données avec pandas

1. Generer un Dataframe

In [8]:
import pandas as pd

In [7]:
biens=np.array([
  [85, 120],
  [100, 200],
  [85, 150],
  [200, 180],
  [100, 420],
  [300, 330],
  [400, 400]
])
biens.shape

(7, 2)

In [14]:
df_biens = pd.DataFrame(biens, columns=["surface", "prix"])
df_biens.head()

   surface  prix
0       85   120
1      100   200
2       85   150
3      200   180
4      100   420

2. Afficher les surfaecs des biens ayant un prix supérieur ou égal à 300